*{
    list-style:none;
    text-decoration: none;
    
}
.middel{
    /* position:absolute; */
    width: 100%;
}
.menu {
    border-radius : 8px;
    overflow :hidden;
}

.listItem{
    border-top: 1px solid #1db954;
    overflow :hidden;
}

.listbtn {
    display: block;
    padding : 16px 20px;
    background: #1db954;  
    color : white; 
    font-size: 15px;
}


.listbtn::before{
    content : "";
    position : absolute;
    width :14px;
    height: 14px;
    background: #1db954;
    left: 70px;
    margin-top: 25px;
    transform:  rotate(45deg);
}


.smenu{
    background:  #191414;
    overflow:hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a{
    display: block;
    padding: 16px 15px;
    color: white;
    font-size: 14px; 
    margin: 4px 0;
    position: relative;
}

.smenu a::before{
    content :"";
    position : absolute;
    width: 6px;
    height: 100%;
    transition: 0.3s;
    background: #1db954;
    left :0;
    top : 0;
    opacity: 0;
}

.smenu a:hover:before{
    opacity : 1;
}

.listItem:hover .smenu{
    max-height: 10em;
}