*{
    list-style:none;
    text-decoration: none;
    
}

.product-card { 
    background-color: #1db954;
    color: #000;
    width: 35%;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
}

.proyect{
    display: flex;
    border-radius: 30px 30px 30px 30px;
}

.card-head{
    background-color: #000;
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align:center;
    border-radius: 20px 20px 20px 20px;
    transition: .5s linear;
}

.card-description{
    padding: 5% 10% 5% 10%;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
}

.proyect:hover {
    border : 1px solid #1db954;
    border-radius: 30px 30px 30px 30px;
}

.proyect:hover .card-head{
    box-shadow: 0 0 0 26em #000;
    color: #000;
    background-color: #1db954;
} 


.proyect:hover .card-description{
    color: white;
}

.product-data {
    width: 65%;
    /* background-color:#1db954 ; */
    position: relative;
    border-radius: 20px 20px 20px 20px;
}

.image-product {
    
    overflow:hidden;
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    
}

.img-container > img{
    object-fit: none;
    width: 100%;
    height: 100%;
}

.bar-product-icons{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 28px;
    list-style: none;
    text-decoration: none;  
    color :white;
    display: block;
    
}

.text-icon {
    border-radius:20px ;
    color: white;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    border : solid 1px;
    top: 0;
    min-width: 500px;

}

.bar-product {
        width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        transition: 1s ;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        text-decoration: none;
        background-color:rgba(0, 0, 0, 0.582)
}


.proyect:hover .bar-product{
    visibility: visible;
    opacity: 1;
} 

@media screen and (max-width : 500px){
    .proyect{
        flex-direction: column;
    }

    .product-data {
        width: 100%;
    }

    .product-card{
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }

    .image-product {
    
        overflow:hidden;
        position: relative;
        
    }
    .image-product{
        border-radius: 0px 0px 30px 30px;
    } 

        

    
}